* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f5f2;
}

.next-btn {
  margin: 0.2px auto;
  display: block;
  color: #654d4d;
  padding: 15px 40px;
  background-color: #e7c1e8;
  border: 2px solid #7e6677;
  border-radius: 8px;
  font-family: Inter, sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}
.next-btn:hover {
  background-color: #756370;
}
.next-btn:active {
  transform: scale(0.95);
}

section {
  display: flex;
  flex-direction: column;
}