<<<<<<< HEAD
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f5f2;
}

.next-btn {
  margin: 0.2px auto;
  display: block;
  color: #654d4d;
  padding: 15px 40px;
  background-color: #e7c1e8;
  border: 2px solid #7e6677;
  border-radius: 8px;
  font-family: Inter, sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}
.next-btn:hover {
  background-color: #756370;
}
.next-btn:active {
  transform: scale(0.95);
}

section {
  display: flex;
  flex-direction: column;
}
=======
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
>>>>>>> d61edf806c02ef9b3b9ca5f74051ffca88601c44
